# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

Library/shadercompiler-1.log
Library/ScriptAssemblies/Assembly-UnityScript-firstpass.dll.mdb
Library/ScriptAssemblies/Assembly-UnityScript-firstpass.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll.mdb
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb
Library/metadata/4e/4e07eec9ba936bd4982698c4457d3a60
Library/InspectorExpandedItems.asset
Library/expandedItems
Library/CurrentMaximizeLayout.dwlt
Library/assetDatabase3
Library/CurrentLayout.dwlt
Library/CurrentMaximizeLayout.dwlt
Library/guidmapper
Library/expandedItems
Library/CurrentMaximizeLayout.dwlt
Library/CurrentLayout.dwlt
BeWaterMyFriend-csharp.sln
BeWaterMyFriend.sln
BeWaterMyFriend.userprefs
Library/assetDatabase3
Library/CurrentLayout.dwlt
Library/CurrentLayout.dwlt
Library/CurrentMaximizeLayout.dwlt
Library/shadercompiler-1.log
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll.mdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll.mdb
Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
Library/metadata/4e/4e07eec9ba936bd4982698c4457d3a60
